body{
    background-color: lightseagreen;
    font-family: Helvetica;
    margin: 0;
}

#menu{
    width: 100%;
    background-color: white;
    height: 70px;
}

#menu li{
    list-style-type: none;
    display: inline;
    height: 70px;
    line-height: 70px;
    margin: 0 30px;
}

#header{
    display: flex;
    margin: 50px auto;
    justify-content: center;
}

#portrait{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#hithere{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    width: auto;
    margin-left: 50px;
    height: 120px;
}

#references{
    display: flex;
}

#references img{
    width: 100px;
}

.referencewrapper{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin: 0 40px;
    height: 50px;
    flex-direction: row;
}