body{
    background-color: lightseagreen;
    font-family: Helvetica;
}

#header{
    display: flex;
    margin: 50px 150px;
    justify-content: center;
}

#portrait{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#hithere{
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    width: auto;
    margin-left: 50px;
    height: 120px;
}